/* src/App.css */
.App {
  text-align: center;
  margin: 20px;
  background-image: url("/src/Raya.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1788px;

}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

h1 {
  color: aquamarine;
}
h2 {
  color: #007bff;
}

p {
  font-size: 18px;
}
